In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df = pd.read_csv("customer_shopping_data.csv")

In [3]:
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [4]:
df.isnull().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

In [5]:
df.shape

(99457, 10)

In [6]:
df.category.unique()

array(['Clothing', 'Shoes', 'Books', 'Cosmetics', 'Food & Beverage',
       'Toys', 'Technology', 'Souvenir'], dtype=object)

In [7]:
df["category"].value_counts()

Clothing           34487
Cosmetics          15097
Food & Beverage    14776
Toys               10087
Shoes              10034
Souvenir            4999
Technology          4996
Books               4981
Name: category, dtype: int64

In [8]:
df["shopping_mall"].value_counts()

Mall of Istanbul     19943
Kanyon               19823
Metrocity            15011
Metropol AVM         10161
Istinye Park          9781
Zorlu Center          5075
Cevahir AVM           4991
Forum Istanbul        4947
Viaport Outlet        4914
Emaar Square Mall     4811
Name: shopping_mall, dtype: int64

In [9]:
df["day"] = df["invoice_date"].apply(lambda x : x.split('/')[0])
df["month"] = df["invoice_date"].apply(lambda x : x.split('/')[1])
df["year"] = df["invoice_date"].apply(lambda x : x.split('/')[2])

In [10]:
df.drop("invoice_date", axis = 1, inplace = True)
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,day,month,year
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,5,8,2022
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,12,12,2021
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,9,11,2021
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,16,05,2021
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,24,10,2021

In [11]:
df.groupby(["shopping_mall","gender"]).sum().head()

/tmp/ipykernel_10075/926932169.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["shopping_mall","gender"]).sum().head()

                             age  quantity       price
shopping_mall     gender
Cevahir AVM       Female  126560      8855  2049043.93
                  Male     88914      6094  1384627.91
Emaar Square Mall Female  124219      8548  2020531.60
                  Male     85356      5953  1369876.71
Forum Istanbul    Female  131011      9038  1974614.27

In [12]:
df.groupby(["category","gender"]).sum().head()

/tmp/ipykernel_10075/3840957412.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["category","gender"]).sum().head()

                     age  quantity        price
category  gender
Books     Female  126282      8776    132956.40
          Male     90600      6206     94020.90
Clothing  Female  895924     62039  18616663.12
          Male    601130     41519  12459021.52
Cosmetics Female  395195     27261   1108432.26

In [13]:
df.drop(["invoice_no","customer_id"], axis = 1 , inplace = True)

In [14]:
df.age.unique()

array([28, 21, 20, 66, 53, 49, 32, 69, 60, 36, 29, 67, 25, 24, 65, 42, 46,
       23, 27, 52, 44, 51, 50, 68, 43, 59, 54, 48, 40, 41, 19, 18, 22, 61,
       45, 64, 33, 63, 34, 47, 38, 57, 30, 26, 62, 39, 55, 56, 35, 31, 37,
       58])

In [15]:
df1 = df.copy()
df1.describe()

                age      quantity         price
count  99457.000000  99457.000000  99457.000000
mean      43.427089      3.003429    689.256321
std       14.990054      1.413025    941.184567
min       18.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max       69.000000      5.000000   5250.000000

In [16]:
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [17]:
df1_categorical = df1.drop(["age","quantity","day","month","year"], axis = 1)
df1_categorical.head()

   gender  category    price payment_method   shopping_mall
0  Female  Clothing  1500.40    Credit Card          Kanyon
1    Male     Shoes  1800.51     Debit Card  Forum Istanbul
2    Male  Clothing   300.08           Cash       Metrocity
3  Female     Shoes  3000.85    Credit Card    Metropol AVM
4  Female     Books    60.60           Cash          Kanyon

In [ ]:
sns.displot(df1_categorical, x="shopping_mall",hue = "category").set_xticklabels(rotation=90)
plt.show()

In [18]:
df2 = df1.drop(["age","quantity","day","month","year","payment_method"], axis = 1).copy()

In [19]:
df2.head()

   gender  category    price   shopping_mall
0  Female  Clothing  1500.40          Kanyon
1    Male     Shoes  1800.51  Forum Istanbul
2    Male  Clothing   300.08       Metrocity
3  Female     Shoes  3000.85    Metropol AVM
4  Female     Books    60.60          Kanyon

In [20]:
dummies_category = pd.get_dummies(df2.category)
dummies_shopping_mall = pd.get_dummies(df2.shopping_mall)

In [21]:
df3 = pd.concat([df2.drop(["category","shopping_mall"], axis = 1),dummies_category,dummies_shopping_mall],axis='columns')
df3.head()

,gender,price,Books,Clothing,Cosmetics,Food & Beverage,Shoes,Souvenir,Technology,Toys,Cevahir AVM,Emaar Square Mall,Forum Istanbul,Istinye Park,Kanyon,Mall of Istanbul,Metrocity,Metropol AVM,Viaport Outlet,Zorlu Center
0,Female,1500.40,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,Male,1800.51,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,Male,300.08,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,Female,3000.85,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
4,Female,60.60,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [22]:
df3.shape

(99457, 20)

In [37]:
X = df3.drop(["price","gender"],axis = 'columns')
X.head()

,Books,Clothing,Cosmetics,Food & Beverage,Shoes,Souvenir,Technology,Toys,Cevahir AVM,Emaar Square Mall,Forum Istanbul,Istinye Park,Kanyon,Mall of Istanbul,Metrocity,Metropol AVM,Viaport Outlet,Zorlu Center
0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [38]:
y = df3.price
y.head()

0    1500.40
1    1800.51
2     300.08
3    3000.85
4      60.60
Name: price, dtype: float64

In [34]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Using cached scikit_learn-1.2.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
Collecting scipy>=1.3.2
  Downloading scipy-1.10.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.5/34.5 MB 437.0 kB/s eta 0:00:00m eta 0:00:01[36m0:00:03
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.17.3 in /home/user/.local/lib/python3.8/site-packages (from scikit-learn) (1.23.4)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 554.9 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 scipy-1.10.1 threadpoolctl-3.1.0

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [40]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.7221703207721494

In [41]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.72060475, 0.71563794, 0.71673259, 0.72240244, 0.71980483])

In [42]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

ValueError: Invalid parameter 'normalize' for estimator LinearRegression(). Valid parameters are: ['copy_X', 'fit_intercept', 'n_jobs', 'positive'].

In [43]:
def predict_price(category,shopping_mall):    
    loc_index = np.where(X.columns==category)[0][0]
    loc_index1 = np.where(X.columns==shopping_mall)[0][0]
    x = np.zeros(len(X.columns))
    if loc_index >= 0:
        x[loc_index] = 1
    if loc_index1 >= 0:
        x[loc_index1] = 1

    return lr_clf.predict([x])[0]

In [44]:
predict_price('Shoes','Kanyon')

/home/user/.local/lib/python3.8/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

1819.0

In [50]:
import pickle
with open("model.pickle","wb") as f:
    pickle.dump(lr_clf,f)

In [51]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))